<md-content layout="column" ng-controller="AngularNvd3Ctrl as ctrl">
  <div>
    <md-card layout="column" flex="100">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Frequency of Play</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content flex>
        <div flex="100">
          <nvd3 options="ctrl.bar_chart.options" data="ctrl.bar_chart.data"></nvd3>
        </div>
      </md-card-content>
    </md-card>
  </div>
  <div layout="row">
    <md-card flex="40">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Team Affiliation</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content flex>
        <nvd3 options="ctrl.donut_chart.options" data="ctrl.donut_chart.data"></nvd3>
      </md-card-content>
    </md-card>
    <md-card flex="60">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Combat Power</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <nvd3 options="ctrl.line_chart.options" data="ctrl.line_chart.data"></nvd3>
        <br />
      </md-card-content>
    </md-card>
  </div>
</md-content>
