<md-content layout="column" ng-controller="AngularChartCtrl as ctrl">
  <div>
    <md-card layout="column" flex="100">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Frequency of Play</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content flex>
        <div flex="100">
          <canvas id="line"
                  class="chart chart-bar"
                  chart-data="ctrl.bar_chart.data"
                  chart-labels="ctrl.bar_chart.labels"
                  chart-series="ctrl.bar_chart.series"
                  chart-options="ctrl.bar_chart.options"
                  width="100%"
                  height="20"></canvas>
        </div>
      </md-card-content>
    </md-card>
  </div>
  <div layout="row">
    <md-card flex="40">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Team Affiliation</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content flex>
        <canvas id="doughnut"
                class="chart chart-doughnut"
                chart-data="ctrl.donut_chart.data"
                chart-labels="ctrl.donut_chart.labels"
                chart-options="ctrl.donut_chart.options"></canvas>
      </md-card-content>
    </md-card>
    <md-card flex="60">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Combat Power</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <canvas id="base"
                class="chart chart-line"
                chart-data="ctrl.line_chart.data"
                chart-labels="ctrl.line_chart.labels"
                height="80"></canvas>
        <br />
      </md-card-content>
    </md-card>
  </div>
</md-content>
