<md-content layout="column" ng-controller="QuestionnaireCtrl as ctrl">
  <form name="questionnaire" ng-submit="ctrl.submit()">
    <md-card flex>
      <div layout="column">
        <md-card-title>How often do you play Pokemon Go?</md-card-title>
        <md-content>
          <md-radio-group ng-model="ctrl.frequency_response" flex layout-margin>
            <md-radio-button ng-repeat="f in ctrl.frequency" ng-value="f.value" aria-label="{{ f.label }}">
              {{ f.label }}
            </md-radio-button>
          </md-radio-group>
        </md-content>
      </div>
    </md-card>
    <md-card flex>
      <div layout="column">
        <md-card-title>What team are you?</md-card-title>
        <md-content>
          <md-radio-group ng-model="ctrl.team_response" flex layout-margin>
            <md-radio-button ng-repeat="t in ctrl.teams" ng-value="t.value" aria-label="{{ t.label }}">
              {{ t.label }}
            </md-radio-button>
          </md-radio-group>
        </md-content>
      </div>
    </md-card>
    <md-card flex>
      <div layout="column">
        <md-card-title>(If you play) what's the CP (combat power) of your strongest Pokemon?</md-card-title>
        <md-content>
          <md-input-container class="md-block">
            <input ng-model="ctrl.power_response" placeholder="(1-2500)">
          </md-input-container>
        </md-content>
      </div>
    </md-card>
    <md-button class="md-raised md-primary" type="submit">Save</md-button>
  </form>
</md-content>
